@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Book Store Application!</h1>
    <p>Default credentials are: admin/admin and user/user.</p>
    <p>Fetch books by author's last name is provided via gRPC service.</p>
</div>
